*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(99, 99, 168);
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-image: url(https://images.unsplash.com/photo-1508108712903-49b7ef9b1df8?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcwMzE2NjM0NA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
}

.informações{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 20px;
}


.informações input{
    border-radius: 10px;
    background-color: rgb(163, 163, 163);
    border: none;
    padding: 10px;
}

.informações button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(201, 201, 201);
    transition: 0.2s;
}

.informações button:hover{
    background-color: rgb(102, 102, 102);
    cursor: pointer;
    transition: 0.2s;
    color: white;
}

.nome-cidade{
    padding-top: 20px;
}

.temperatura{
    font-size: 40px;
    padding-top: 10px;
}

.caixa-nuvem{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.previsão{
    text-transform: capitalize;
}